/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.banner {
  padding: 12rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.banner_text {
  font: 90px/1.1em 'opensans-bold', sans-serif;
  letter-spacing: -2px
}

@media screen and (max-width: 996px) {
  .banner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
